* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

@font-face { 
  font-family: "Space Age";
  src: url('../font/space_age.ttf');
}

h1 {
  font-family: "Space Age", sans-serif;
  font-size: 60px;
  color: white;
}

header {
  width: 100%;
  height: 100vh;
}

.header_container {
  background-image: url(../images/fond.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
}

.header_title {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 2rem;
}

.header_nav {
  color: white;
  font-size: 25px;
  margin-left: 340px;
}

.onscroll {
  background-color: #1e3f6d90;
}

.nav {
  display: block;
}

.nav li {
  display: inline-block;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.nav li a {
  display: block;
  padding: 1rem;
  transition: transform 0.5s ease;
}

.nav li a:hover {
  transform: scale(1.1);
}

h2 {
  font-size: 30px;
  color: #99681C;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.title_category {
  padding-left: 8rem;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.text_presentation {
  display: inline-block;
  flex: 1 1 70%;
  padding-right: 1.5rem;
}

.img_presentation {
  display: inline-block;
  flex: 1 1 30%;
}

.img_presentation {
  margin-right: 2rem;
}

.img_presentation img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  margin-left: 2rem;
}

.line_img_movies {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

.one_movie {
  display: inline-block;
  width: 244px;
  height: 368px;
  position: relative;
}

.one_movie.selected::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: -25px;
  z-index: 100;
  border-bottom: 20px solid #0d0d0d;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  left: calc(50% - 25px);
}

.one_movie img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  padding: 0.3rem;
  border: 1px solid #1e3f6d;
}

.one_movie img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.content_movie {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem 0 2rem 2rem;
}

.poster_movie {
  display: inline-block;
  flex: 0 0 25%;
  height: 500px;
  padding-right: 2rem;
}

.poster_movie img {
  height: 100%;
  object-fit: contain;
}

.detail_movie {
  display: inline-block;
  flex: 0 0 40%;
  color: white;
}

.line_info_movies {
  position: relative;
  height: auto;
  display: block;
  width: 100%;
}

.info_movie {
  background-image: linear-gradient(to bottom right, #0d0d0d 45% , #1e3f6d );
  position: relative;
  top: 0;
  left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}

.info_movie.shown {
  max-height: 500px;
}

h3 {
  font-size: 2rem;
  padding: 1rem 0;
}

.rate_movie {
  font-size: 24px;
  color: #ffcc00;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  font-weight: 300;
}

strong {
  font-weight: 450;
}

.time_age {
  padding-bottom: 0.5rem;
  margin: 0.4rem 0 1rem 0;
}

.age {
  border: 1px solid white;
  padding: 0.1rem;
}

.cross_button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  display: inline-block;
  padding: 1rem;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.5s;
}

.cross_button:hover {
  transform: rotate(90deg);
}

.week {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.day { 
  text-align: center;
  padding: 0.5rem;
  width: 100%;
}

.date {
  background-color: rgba(134, 158, 187, 0.575);
  padding: 1rem 0.5rem 2rem 0.5rem;
  position: relative;
  z-index: 4;
  top: 25px;
  width: 160px;
  left: 20px;
  border-radius: 8px;
}

.programme_of_day {
  background-color: #355d8d;
  color: whitesmoke;
  width: 200px;
  height: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 2;
  padding-top: 25px;
  transition: transform 0.5s ease;
  border-radius: 1px;
  box-shadow: 5px 5px 5px #aaaaaa;
}

.programme_of_day:hover {
  transform: scale(1.05);
}

.one_show {
  padding: 0.5rem 0;
}

.hours {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 0.5rem;
}

.movie_of_hour {
  font-weight: bold;
}

.prices_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
}

.prices_info div {
  margin-left: 120px;
}

.prices_info ul {
  background-color: #213957;
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
  color: whitesmoke;
}

.prices_info li {
  margin: 30px;
}

.ticket {
  font-size: 150px;
  color: #213957;
  background-color: transparent;
  transform: rotate(160deg);
  margin-bottom: 30px;
}

.price_reduce {
  font-size: 10px;
  color: lightgray;
  text-align: center;
}

.contact {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

form {
  position: relative;
  box-sizing: border-box;
  background-color: #355d8d;
  padding: 15px;
  border-radius: 20px;
  margin-top: 1rem;
  color: whitesmoke;
}

form:hover {
  background-color: #213957;
}

form input[type=text], form input[type=email] {
  border: none;
  border-bottom: 1px solid whitesmoke;
  background-color: transparent;
  outline: none;
  color: whitesmoke;
}

.box_form {
  padding-bottom: 20px;
}

form input[type=submit] {
  outline: none;
  background-color: #355d8d;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 3px;
}

form input[type=submit]:hover {
  background-color: whitesmoke;
  color: #355d8d;
}

form textarea {
  border: none;
  border-bottom: 1px solid whitesmoke;
  background-color: transparent;
  outline: none;
  color: whitesmoke;
}

.line_separation {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 30px;
  columns: #213957;
}

footer {
  background: rgb(20,33,82);
  background: linear-gradient(to bottom right, #0d0d0d 30% , #1e3f6d );;
  color: whitesmoke;
}

.principal_footer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.name_website {
  text-align: center;
}

#name_cinema {
  font-weight: 400;
  font-family: "Space Age", sans-serif;
}

.next_movies ul {
  padding-top: 1rem;
  padding-left: 1rem;
}

.next_movies_title {
  font-size: 25px;
  font-weight: 300;
  color: #99681C;
}

.media_sociaux_icone {
  text-align: center;
  font-size: 40px;
  padding-top: 0.8rem;
}

.footer_sociaux_text {
  font-size: 25px;
  font-weight: 300;
  color: #99681C;
}

h5 {
  font-size: 25px;
  font-weight: 300;
  color: #99681C;
  padding-bottom: 1rem;
}

.menu_background {
  background-color: #1e3f6dcc;
  transition: all 0.2s ease;
}